@import 'bootstrap/dist/css/bootstrap.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

*{
    font-family: "Poppins";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body{
  margin: 0;
  padding: 0;
}
.navbar-toggler-icon{
  width: 1.1em;
  height: 1.1em;
}


h1 {
  font-family: 'Jost';
  /* font-weight: 400 !important; */
  /* text-transform: none; */
  color: #000a12;
}

.dropdown-menu{
    border: 0;
    background-color: white;   
}

.dropdown:hover{
    display: block !important;
}

.dropdown-toggle::after {
    display:none !important;
}


.drop:first-child:hover span svg.arrow{

    transform: rotate(-180deg);
    transition:transform 400ms ease-out;
}

.dropdown-menu{
    animation: slideDown 400ms ease-in-out forwards;
}

.add:hover{
  color: black !important;
  background-color: transparent;
  margin-left: 12px;
}   


@media (min-width:1440px) {
  .center{
    inset: 0px auto auto 0px;
    transform: translate3d(-500px, 9px, 0px);
    width: max-content;
  }
  
}

.add{
  transition: margin-left 250ms ease-out;
}

@keyframes slideDown {
  0% { 
    opacity: 0;
    transform: translateY(-60px)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

/* Categories Css */

.image-container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 15%;
  opacity: 0;
  bottom: 0px; 
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.1s ease-in-out;
}


.image-container:hover .overlay {
  opacity: 1;
}

.overlay p {
  color: black;
  text-align: center;
}

.up{
  transition: margin-top 200ms ease-in-out;

}
.up:hover{
  margin-top: -20px;
}

.side{
  transition: margin-right 200ms ease-in-out;
}

.side:hover{
  margin-right: -5px;
}

/* .side1 {
  transition: margin-left 250ms ease-in-out;
}

.side1:hover{
  margin-left: 25px;
  margin-right: 15px;
} */

.shop{ 
  transition: scale 250ms ease-in-out;
}

.shop:hover {

  scale: 1.1;

}
.shop:hover a {
  background-color: #000a12;
  color: white;
}

.icon-effect{
  opacity: 0;
}
.icon-effect:hover{
  opacity: 1;
}
.icon:hover{
  background-color: #000a12 !important;
}
.img:hover {
  filter: invert(100%) sepia(1) saturate(10%) hue-rotate(174deg);
}