@import 'bootstrap/dist/css/bootstrap.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

*{
    font-family: "Poppins";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body{
  margin: 0;
  padding: 0;
}
.navbar-toggler-icon{
  width: 1.1em;
  height: 1.1em;
}


h1 {
  font-family: 'Jost';
  /* font-weight: 400 !important; */
  /* text-transform: none; */
  color: #000a12;
}

.dropdown-menu{
    border: 0;
    background-color: transparent;   
}

.dropdown:hover{
    display: block !important;
}

.dropdown-toggle::after {
    display:none !important;
}


.drop:first-child:hover span svg.arrow{

  transform: rotate(0.50turn);
    transition:transform 300ms ease-out;
}

.dropdown-menu{
    animation: slideDown 400ms ease-in-out forwards;
}

.add {
    &:before { 
      content: '-';
      font: inherit;
      vertical-align: 0.1em;
      display: inline-block;
      text-align: center;
      transform: scaleY(0) translateX(-1em);
      margin-right: 0.2em;
    }
  
    &:before,
    .char {
      transition: transform 0.3s ease-in-out, translate 0.3s ease-in-out;
      transition-delay: calc( 0.015s * var(--char-index) );
    }
  
    .char {
      transform: translateX(-0.15em);
    }
  
    &:hover:before {
      transform: scaleX(2) scaleY(1) translateX(-0.1em);
      translate: 1px;
    }
  
    &:hover .char {
      transform: translateX(1em);
      transform: translateX(0.5em) ;
    }
  
  }
.add:hover{
  color: black !important;
  background-color: transparent;
  outline: none;
}   



@media (min-width:1440px) {
  .center{
    inset: 0px auto auto 0px;
    transform: translate3d(-500px,7px, 0px);
    width: max-content;
  }
}
@keyframes slideDown {
  0% { 
    opacity: 0;
    transform: translateY(-60px)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

/* Categories Css */

.image-container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 15%;
  opacity: 0;
  bottom: 0px; 
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.1s ease-in-out;
}


.image-container:hover .overlay {
  opacity: 1;
}

.overlay p {
  color: black;
  text-align: center;
}

.up{
  transition: margin-top 200ms ease-in-out;

}
.up:hover{
  margin-top: -20px;
}

.side{
  transition: translate 300ms ease-in-out;
}

.side:hover{
  translate: 5px;
}

/* .side1 {
  transition: margin-left 250ms ease-in-out;
}

.side1:hover{
  margin-left: 25px;
  margin-right: 15px;
} */

/* .shop{ 
  transition: scale 250ms ease-in-out;
}

.shop:hover {

  scale: 1.1;

}
.shop:hover a {
  background-color: #000a12;
  color: white;
  font-weight: 500;
} */

.icon-effect{
  opacity: 0;
}
.icon-effect:hover{
  opacity: 1;
}
.icon:hover{
  background-color: #000a12 !important;
}
.img:hover {
  filter: invert(100%) sepia(1) saturate(0%) hue-rotate(170deg);
}

.now a { 
  background-color: white;
}
.Shop{
  transition: margin-top 250ms ease-in-out;

}
.Shop:hover {

  margin-top: -10px;

}
.Shop:hover a {
  background-color: #000a12;
  color: white;
}

#navbar{
  transition: top 0.5s ease-in-out;
}

.shop-icon{
  opacity: 0;
} 
 .shop-icon:hover{
  opacity: 1!important;
}
.icon-1:hover {
  background-color: black!important;
}
.icon-1:hover a{
  filter: invert(100%) sepia(1) saturate(0%) hue-rotate(170deg);  
}
.icon-1:hover button{
  filter: invert(100%) sepia(1) saturate(0%) hue-rotate(170deg);  
}
.form-select{
  --bs-form-select-bg-img: none !important;
}
.form-select:focus{
  box-shadow: 0 0 0 rgb(0, 0, 0) !important;
  border: 0 !important;

}

.primary-img:hover .shop-icon{
  opacity: 1;
  
}
.shop-icon{
  transition: opacity 350ms ease-in-out;
}

.BannerText {
  animation: side 2s ease-in-out forwards;
}

@keyframes side {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.BannerImg1 {
  animation: fade 2s ease-in-out forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.BannerImg2 {
  animation: fade 2s ease-in-out forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.BannerSub {
  animation: sideup 2.5s ease-in-out forwards;
}

@keyframes sideup {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.BannerShop {
  animation: sideup 2.7s ease-in-out forwards;
}

@keyframes sideup {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}